#detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding: 5vh 0;
    height: 100%;
}



.detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.detail-container p {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.detail-container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

/* Blocks */
.detail-block-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80%;
}

.detail-block {
    display: flex;
    flex-direction: column;
    padding: 16px 0; 
    gap: 8px;
    
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
}

.detail-block h2 {
    font-size: 1.2rem;
    font-weight: bold;

    margin-inline: 16px;
    margin-bottom: 0;
}

.detail-block ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.detail-block li {
    display: flex;
    align-items: center;

    padding: 8px;

    white-space: nowrap;
}

.detail-block li a,
.detail-block li a button {
    width: 100%;
}

.detail-block li a {
    text-decoration: none;
}

.detail-block li a button {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 4px 8px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
}

.detail-block li a button:hover {
    background-color: rgb(202, 202, 202);
}

.detail-block li a button span {
    flex: 1;
    text-align: left;
}

.detail-block li a button img {
    height: 32px;
    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 50%;
}

/* Index */
.detail-container-index {
    position: sticky;
    height: fit-content;
    
    top: 0;
    border: 1px solid rgb(202, 202, 202);
}

.detail-container-index ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.detail-container-index li {
    padding: 8px 16px;
    border-bottom: 1px solid rgb(202, 202, 202);
    white-space: nowrap;

    a {
        text-decoration: none;
        color: var(--color-accent);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        letter-spacing: 0.1rem;
    }

    a:hover {
        text-decoration: underline;
    }
}

.detail-container-index li:last-child {
    border-bottom: none;
}   


/* Responsive mobile */
@media screen and (max-width: 768px) {
    .title-container {
        width: 90%;
        gap: 1rem;
        align-items: flex-start;

        h1 {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .title-container-img {
        width: 200px;
    }

    .detail-container {
        gap: 1rem;
        overflow: hidden;
    }

    .detail-container-content {
        p {
            font-size: 0.8rem;
            margin-left: 1rem;
        }
    }

    .detail-block li {
        display: flex;
        align-items: center;
        padding: 8px;
        white-space: wrap;
      }

    .detail-container-index li {
        & a {
          text-decoration: none;
          color: var(--color-accent);
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          letter-spacing: 0.1rem;
        }
      }
      
      .detail-container-index li {
        & a {
            font-size: 0.5rem;
          text-decoration: none;
          color: var(--color-accent);
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          letter-spacing: 0.1rem;
        }
      }

      .detail-container-index li {
        overflow: none;
        padding: 4px 8px;
        border-bottom: 1px solid rgb(202, 202, 202);
        white-space: nowrap;
      }
}