#index {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;

    
}

.index-hero-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.index-modal {
    position: absolute;
    background-color: var(--color-accent);
    border-radius: 8px;
    border: solid 1rem var(--color-green);
    width: 50%;
    height: 50vh;
    min-width: 820px;
    min-height: 450px;
    z-index: 15;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.index-modal-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    width: 90%;
    margin-top: 2rem;

    img {
        height: 150px;
        width: auto;
        object-fit: cover;
        border-radius: 8px;
        overflow: hidden;
        aspect-ratio: 1;
    }

    h2 {
        font-size: 3rem;
        font-weight: 700;
        color: var(--color-main);
    }
}

.index-modal-mid {
    width: 90%;

    p {
        width: 100%;
        font-size: 0..8rem;
        line-height: 1.2;
        text-align: center;
        color: var(--color-main);
    }
}

.index-modal-bottom {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
    
    

    button {
        background-color: var(--color-green);
        color: var(--color-accent);
        padding: 5px 10px;
        border-radius: 4px;
        border: solid 2px var(--color-green);
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
}

.index-modal-bottom button:hover {
        background-color: var(--color-accent);
        color: var(--color-green);
}

.index-hero {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 0;
    margin: 0;
    background-color: var(--color-main);
    z-index: 10;

    h1 {
        font-size: 5rem;
        width: 100%;
        height: 10vh;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10vh;
        margin-top: 5vh;
    }

    /* spce bg */
    
}

#index-globe {
	position: relative;
	width: 25%;
	height: 90vh;
	background-color: #ac5;
	border-radius: 50%;
	margin: 150px;
}

.sdg-cheese {
    height: 80px;
    width: 160px;
	position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    transition: all 0.5s ease-in-out;
}

.sdg-cheese:hover {
    height: 160px;
    width: 240px;

}

/* Index section 2 */
.index-content {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    gap: 5vh;
    margin: 10vh 0;
}

.index-content-top {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 3rem;
        text-transform: capitalize;
        letter-spacing: 1px;
    }
}

.index-text-img,
.index-img-text {
    width: 90%;
    display: flex;
	justify-content: space-between;
    align-items: center;
    gap: 10vw;

    p {
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: left;
        width: 50%;
    }

    img {
        width: 50%;
        height: auto;
        object-fit: cover;
        border-radius: 4px;

    }
}

.index-img-text {
    p {
    text-align: end;
    }
}


/* Media queries */

/* Mobile */
@media only screen and (max-width: 768px) {

    .index-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100vw;
    
        h1 {
            font-size: 3rem;
            width: 100%;
            height: 10vh;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 10vh;
            margin-top: 5vh;
        }
    }
    
    #index-globe {
        position: relative;
        width: 25%;
        height: 90vh;
        background-color: #ac5;
        border-radius: 50%;
        margin: 150px;
    }
    
    .sdg-cheese {
        height: 80px;
        width: 160px;
        position: absolute;
        background-position: center center;
        background-repeat: no-repeat;
        /* background-size: contain; */
        transition: all 0.5s ease-in-out;
    }
    
    .sdg-cheese:hover {
        height: 160px;
        width: 240px;
    }
    
    
    /* Index section 2 */
    .index-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        min-height: 100vh;
        width: 100vw;
        gap: 10vh;
        margin: 10vh 0;
    }
    
    .index-content-top {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        h2 {
            font-size: 3rem;
            text-transform: capitalize;
            letter-spacing: 1px;
        }
    }
    
    .index-text-img,
    .index-img-text {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    
        p {
            font-size: 1rem;
            line-height: 1.2;
            text-align: left;
            width: 100%;
        }
    
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 4px;
    
        }
    }
    
    .index-img-text {
        flex-direction: column-reverse;
        p {
        text-align: start;
        }
    }
}